<section id="banner-section" class="my-4">
    <div class="container">
        <div class="row d-flex {{data}}">
            <div class="col-md-6 my-3">
                <div class="container text-center">
                    <h3 class="">Lorem ipsum dolor sit amet.</h3>
                    <p class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas veritatis fugit, iste vel neque Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas veritatis fugit, iste vel neque voluptatib voluptatibus!</p>
                    <button class="btn btn-primary">click here</button>
                </div>
            </div>
            <div class="col-md-6 my-3">
                <div class="container text-center">
                    <img src="static/images/svg1.svg" alt="" class="banner-img">
                </div>
            </div>
            <hr>
        </div>
    </div>
</section>