<section id="contact-section" class="py-4">
    <div class="container">
        <h1 class="text-center text-secondary">Contect</h1>
        <div class="row">
            <div class="col-md-12 m-auto">
                <form class="contact_form" action="/process-contact-form" method="POST">
                    <div class="mb-3">
                        <label for="email" class="form-label">Your Email</label>
                        <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="cont_no" class="form-label">Your Contect Number</label>
                        <input name="phone" type="number" class="form-control" id="cont_no">
                    </div>
                    <div class="mb-3">
                        <textarea name="quary" id="" cols="30" rows="8" class="form-control" placeholder="Enter your quary here"></textarea>
                    </div>
                    <div class="container text-center"><button type="submit" class="btn btn-secondary px-3">Submit</button></div>
                </form>
            </div>
        </div>
    </div>
</section>